$background-color: #808080;
$border-color: #333;
$text-color-primary: #F2F2F2;
$text-color-secondary: #BDBDBD;
$button-color-primary: #997300;
$button-color-secondary: #aba9a4;
$button-hover-color: #7d775a;
$input-date-color: #4F4F4F;
$header-color: #666666;
